[submodule "bousqi-smeg+"]
	path = bousqi-smeg+
	url = git@github.com:vidarrt9/SMEG_PLUS.git
[submodule "bousqi-smeg+key"]
	path = bousqi-smeg+key
	url = git@github.com:vidarrt9/smeg-plus_key.git
[submodule "mwyann-psakey"]
	path = mwyann-psakey
	url = git@github.com:vidarrt9/psakey.git
[submodule "psa-can-reverse-engineering"]
	path = psa-can-reverse-engineering
	url = git@github.com:vidarrt9/autowp.github.io.git
[submodule "libpsa"]
	path = libpsa
	url = https://git.prototux.net/cosmos/car/libpsa.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/vidarrt9/smeg-rce.wiki.git
[submodule "analysis"]
	path = analysis
	url = git@github.com:vidarrt9/smeg-plus-analysis.git
[submodule "usb-intruderer"]
	path = usb-intruderer
	url = git@github.com:vidarrt9/usb-intruderer.git
[submodule "prototux-canbus"]
	path = prototux-canbus
	url = https://git.prototux.net/reverse-engineering/psa/canbus.git
[submodule "vxhunter"]
	path = vxhunter
	url = git@github.com:vidarrt9/vxhunter.git
